* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bubbles {
    position: relative;
    display: flex;

    span {
        position: relative;
        min-width: 30px;
        height: 30px;
        background: #51b2cfcc;
        box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #705AFE, 0 0 100px #4fc3dc;
        margin: 0 4px;
        border-radius: 50%;
        animation: animate 20s linear infinite;
        animation-duration: calc(200s/var(--i)); 

        &:nth-child(even) {
            background: #a44fdce4;
            box-shadow: 0 0 0 10px #a44fdc50, 0 0 50px #ff2d75, 0 0 100px #ee00ff;
        }
    }
}

@keyframes animate {
    0% {
        transform: translateY(100vh) scale(0);
    }
    100% {
        transform: translateY(-10vh) scale(0.7);
    }
}
