@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');

//  General styles 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    border: none;
    text-decoration: none;
    overflow: hidden;
    }

    @font-face {
        font-family: myFont;
        src: url(../../img/Plane\ Crash.ttf);

    }

    body {
        font-family: myFont;
        background-color: #000;
        font-size: 1.2em;
        }
    
    .background {

        position: relative;

        width: 100vw;
        height: 96vh;

        z-index: 1;

        .bubbleFrames{
            position: absolute;

            bottom: 0;
            left: 0;

            width: 100%;
            height: 100%;
            z-index: 0;
            
            .bubbles {
                position: relative;
                display: flex;

                height: 100%;
            
                span {
                    position: relative;
                    min-width: 30px;
                    height: 30px;
                    background: linear-gradient(135deg, #B32435, #ff577a);
                    box-shadow: 0 0 0 10px #ff577a44, 0 0 50px #ff577a, 0 0 100px #ff577a;
                    margin: 0 4px;
                    border-radius: 50%;
                    animation: animate 20s linear infinite;
                    animation-duration: calc(250s/var(--i)); 
            
                    &:nth-child(even) {
                        background: linear-gradient(135deg, #8e44ad, #9b59b6);
                        box-shadow: 0 0 0 10px #8e44ad44, 0 0 50px #8e44ad, 0 0 100px #8e44ad;
                        
                        
                    }
                }
            }
            
            @keyframes animate {
                0% {
                    transform: translateY(100vh) scale(0);
                }
                100% {
                    transform: translateY(-10vh) scale(0.7);
                }
            }
        }

        .coverPageUI{

            display: flex;
            align-items: center;

            height: 100%;
            width: 100%;

            background:url("../../img/background.svg");
            background-repeat: no-repeat;
            background-size: cover;

            z-index: 2;

            .music-player {

                position:relative;
    
                width: 30rem;
                height:80%;

                margin-left: 10%;
                border-radius: 0.5rem;
                
                background:#B32435;
                box-shadow: rgba(255, 51, 76, 0.16) 0px 1px 4px, rgb(255, 51, 76) 0px 0px 0px 3px;
    
                .container{
                    display: flex;
                    flex-direction: column;
    
    
                    height: 100%;
                    background-color: rgb(0, 0, 0, 0.8);
    
                    .album-art{
                        
                        flex: 60%;
                        margin: 1rem 1rem 0rem 1rem;
    
                        overflow:hidden;
                        position:relative;
    
                        background-color: #000;
                        background-image: url('../../DiscArt/');
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;

                        border: 2px solid #000;
    
    
                        .current-info{
                            position: absolute;
                            text-align: start;

                            width: 98%;
                            bottom: 0;
                            margin: 0.1rem;
                            padding: 0.2rem 0.5rem;
                            
                            background-image: linear-gradient(to right, rgba(179, 36, 53, 1) 20%, transparent); 
    
                            figcaption {
                                display: flex;
                                flex-direction: column;
                                justify-content: flex-start;
                                align-items: flex-start;

                                    h2{
                                    margin-top: 0.1rem;
                                    font-size: 0.7em;
                                    font-weight: lighter;
                                    color: #fff;

                                    i{
                                        padding-right: 0.5rem;
                                        vertical-align: middle;
                                    }
                                }
                            }
                        }
                    }
    
                    .controls{
    
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
    
    
                        min-height: 30%;
                        margin: 0rem 1rem 1rem 1rem;
                        background-color: rgb(0, 0, 0, 0.4);
                        font-size: 1em;
                        
    
                        .special-buttons{
                            display: flex;
                            justify-content: space-evenly;
                            align-items: center;

                            gap: 5%;
                            margin: 0.5rem 0rem;

                            .mainbuttons{
                                gap: 1rem;
                            }

                            button{
                                background-color: transparent;
                                font-size: 1em;

                            i {
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                height: 2.7rem;
                                width:  2.7rem;

                                color: #fff;


                                &:hover{
                                    color: #ff334c;
                                }

                                &:active {
                                    transform: scale(0.8);
                                    filter: brightness(0.6);
                                    
                                }
                            }
                        }
                            .mainbuttons {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                font-size: 1.5em;
                            
                                .play{
                                    padding: 0.5rem 0rem;
                                    font-size: 2em;
                                }
                            }
                            
                        }
    
                        .time {
    
                            display: flex;
                            flex-direction: column;
                            align-items: stretch;
    
                            color: #fff;
    
                            .data{
                                display: flex;
                                justify-content: space-between;
    
                                margin: 0rem 0.8rem
                            }

                            .progress{
                                margin: 0rem 1rem;
                            }
    
                            .progress-bar {
                                width: 100%;
                                height: 8px;

                                appearance: none;
                                border-radius: 10px;
                                outline: none;

                                --progress: 0%;
                                background-image: linear-gradient(to right, #B32435 var(--progress), #f0f0f0 var(--progress));

                                &::-webkit-slider-thumb {
                                    appearance: none;
                                    width: 10px;
                                    height: 10px;
                                    background: #4682B4;
                                }
                            }
                            

                        }
    
                        .action-button{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            
                            div{
                                display: flex;
                                justify-content: center;
                                align-items: center;
    
                                margin: 0rem 1rem;
                                gap: 0.5rem;
                                width: 100%;

                                button{
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;

                                    padding: 1rem;
                                    width: 2rem;
    
                                    background: transparent;
                                    color: #fff;

                                    transition: color 0.1s ease;
    
                                    &:hover{
                                        color: #B32435;
                                    }

                                    &:active {
                                        transform: scale(0.8);
                                        filter: brightness(0.6);
                                    }
                                }

                                i{
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;

                                    padding: 0rem 1rem;
                                    font-size: 1.5em;
                                }
    
                                input[type="range"].volume {
    
                                    width: 100%;
                                    height: 4px;
    
                                    border-radius: 1rem;
    
                                    -webkit-appearance: none;
                                    appearance: none;
                                    background-image: linear-gradient(to right, #B32435 50%, #f0f0f0 50%);
                                
                                    &::-webkit-slider-runnable-track {
                                        background-image: linear-gradient(to right, #B32435 var(--volume), #f0f0f0 var(--volume));
                                        border-radius: 1rem;
                                    }
    
                                    &::-webkit-slider-thumb {
                                        appearance: none;
                                        width: 10px;
                                        height: 10px;
                                        background: #4682B4;
                                    }
                                }

                                .disabled {
                                    pointer-events: none;
                                    opacity: 0.5;
                                }
                            }
                        }
                    }
                }
            }
        }
        
        .wolf{
            width: 80%;
            z-index: 2;
        }
    }

    footer {

        text-align: center;
        width: 138%;

        margin: 0.5rem 0rem;
    
        p {
        color: #fff;
        font-size: 0.6em;

            a{
                color: #ff334c;

                &:hover{
                    opacity: 0.5;
                }
            }
        }
    }

/* Movile */
@media (max-width: 768px) {
    .wolf {
        display: none;
    }

    .coverPageUI{
        justify-content: center;

        .music-player {
            width: 20rem !important;
            max-width: none !important;
            margin: 0 auto !important;
        }
    
    }

    footer{
        width: 100%;
        font-size: 0.6em;
    }
}
